<div>
    <ul id="list">
        <li class="list-item">
            <img class="check" src="images/checkbox.gif" height="16" width="16">
            <p>Cheesey Poofs</p>
            <img class="remove" src="images/remove-x.gif" height="16" width="16">
        </li>
        <li class="list-item">
            <img class="check" src="images/checkbox.gif" height="16" width="16">
            <p>Chainsaw oil</p>
            <img class="remove" src="images/remove-x.gif" height="16" width="16">
        </li>
        <li class="list-item">
            <img class="check" src="images/checkbox.gif" height="16" width="16">
            <p>Shotgun shells</p>
            <img class="remove" src="images/remove-x.gif" height="16" width="16">
        </li>
        <li class="list-item">
            <img class="check" src="images/checkbox.gif" height="16" width="16">
            <p>Beef-a-roni</p>
            <img class="remove" src="images/remove-x.gif" height="16" width="16">
        </li>
        <li class="list-item">
            <img class="check" src="images/checkbox.gif" height="16" width="16">
            <p>Twinkies</p>
            <img class="remove" src="images/remove-x.gif" height="16" width="16">
        </li>
    </ul>
</div>
